.container {
  width: 100%;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.choiceButton {

  background: linear-gradient(145deg, #b18b48, #8c6b2f);
  color: #fff6da;
  border: 2px solid #604920;
  border-radius: 20px;
  padding: 0.8rem 2rem;
  font-family: "Cinzel Decorative", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.2s;
}

.choiceButton:hover {
  background: linear-gradient(145deg, #d3b36d, #a07d3f);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}
