* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: #2e1f1b;
  font-family: var(--font-cinzel), serif;
  background-color: #d8c3a5;
  background-image: radial-gradient(circle at top left, #e4d5b7, #c9b79c);
}
